   /*************************************************
	* Author: Justin Hartz							*
	* Creation Date: September 4, 2014				*
	* Due Date: September 18, 2014					*
	* Course: CSC 242								*
	* Professor Name: Dr. Frye						*
	* Assignment: Create CSS File					*
	* Filename: Master.html							*
	* Purpose: CSS page for my entire web project	* 
	*************************************************/

/* Base style for the entire webpage */
body {
	background-color: #447676;
	/*background-image: url('http://images2.alphacoders.com/261/26102.jpg');*/
	color:white;
	font-family:Courier;
}

/* Style for h1 elements */
h1 {
	text-align:center;
}

/* Style for a elements */
a {
	color:white;
	text-decoration:none;	
}

/* Style for when you hover over an a element in the nav bar */
a:hover {
	color:black;
	font-weight:bold;
}

/* Style for ul elements */
ul {
	margin-top:0%;
	display:block;
}

/* Style for hr elements */
hr{
	width:80%;
	color:white;	
}

h4 {
	margin-bottom: 0%;
}

/* Style for h6 elements */
h6 {
	font-weight:Bold;
}

noscript {
	font-weight:bold;
	font-size: 250%;
	text-align:center;
	Display:block;
	margin-bottom:2%;
}

table {
	border:1px solid white;
	border-collapse:collapse;
}
td {
	border:1px solid white;
}

.nomargin {
	margin:0;
	margin-top:-17px;
}


/* Style for li elements */
.nav-bar li {
	display:inline;
	margin-right: 3%;
	font-size:90%;
	
}

/* Style for elements with the class="center" */
.center { 
	text-align:center;
}

/* Style for elements with class="small" */
.small {
	font-size:75%; 
}

/* Style for elements with class="data" */
.date {
	margin:0%;
	text-align:right;
}

/* Style for required form elements */
.reqItem {
	border: 2px solid red;
}

.welcome {
	text-align:right;
	margin:2% 5% -4% 0% ;
	display:block;
}