body {
	background:url("wallpaper.jpg") no-repeat center center fixed;
	background-size: cover;
}

h1 {
	text-align:center;
	color:#FFFFFF;
}

table {
	position:fixed;
	color:#FFFFFF;
	padding-bottom:5px;
	bottom:0%;
	font-weight:bold;
	padding-left:8px;
}

td {
	padding-right:15px;
}

a {
	color:#FFFFFF;
	text-decoration:none;
}

p {
	font-size:200%;
	font-weight:bold;
}

.nav-bar {
	position:fixed;
	bottom:0;
	height:35px;
	width:100%;
	left:0;
	background-color:#FFFFFF;
	opacity:.2
}

.center {
	text-align:center;
}	

